.gallery-wrapper {
  margin-top: 85px;
  z-index: 5;
  display: inline-block;
  width: 100%;
}
.gallery .tile:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 800px) {
  .gallery .tile:hover {
    transform: none;
  }
}