.reservations {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.reservations-img img {
  width: 90vw;
  /*margin-left: 10vw;
  margin-right: 10vw;*/
  height: auto;
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 767px) {

}