.reservations {
  /*display: flex;*/
  max-width: 80rem;
  padding: 5rem 3rem;
  margin: 85px auto 0;
  border-bottom:1px solid rgba(255,255,255,.3);
}
.reservations-contact {
  flex: 0 0 40%;
  padding-right: 3rem;
  box-sizing: border-box;
}
.reservations-form {
  /*flex: 0 0 60%;*/
}
.reservations-contact-item {
  display: flex;
  margin-bottom: 2rem;
}
.reservations-contact-item>.fa {
  margin-right: 3rem;
  font-size: 1.7rem;
}
.reservations-contact-item>a {
  font-size: 1.6rem;
  color: #000;
}

.reservations-contact-icons{
  display: flex;
}
.reservations-contact-icons>.fa {
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
  border: 1px solid #000;
  display: block;
  font-size: 2rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  width: 3.5rem;
  color: #000;
  margin-right: 2rem;
}
.reservations-contact-icons>.fa:hover {
  background-color: rgba(0,0,0,.3);
}
.reservations-contact>ul {
  padding: 0;
  margin: 5rem 0;
}

.form-name-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.reservations-input {
  width: 45%;
  background: none;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  color: #000;
}
.reservations-textarea {
  width: 100%;
  background: none;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  resize: none;
  margin-bottom: 2rem;
  color: #000;
  box-sizing: border-box;
}
.reservations-input:focus,
.reservations-textarea:focus {
  border: 1px solid #000;
  outline: 0;
}
.reservations-form-button {
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,.7);
  color: #000;
  background: none;
  border-radius: 5px;
}
.reservations-form-button:hover {
  background-color: rgba(0,0,0,.3);
}
.footer-form h2 {
  margin-bottom: 5rem;
}
.reservations-copyright {
  text-align: center;
  padding-bottom: 1px;
  margin-top: 7rem;
  border-top: 1px solid rgba(0,0,0,.3);
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: block;
  }
  .footer-contact {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .form-name-email {
    display: block;
  }
  .reservations-input {
    width: 100%;
    box-sizing: border-box;
  }
  .reservations-input:first-child {
    margin-bottom: 2rem;
  }
}

.booking {
  height: 80px;
}